@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300);

body {
  font-family: "Ubuntu", "Sans-serif";
  font-weight: 400;
  font-em: 2;
  position: relative;
}

#page {
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  height: 100%;
  background-color: #fcfbf4;
  padding-bottom: 6px;
}

.navbar, #navbar-container .active a, .modal-header, .fancygrid th { /*override bootstrap a, apply to modal header as well to give it the website theme*/
  background: #6ce0f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #6ce0f7 0%, #00c1fc 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ce0f7), color-stop(99%,#00c1fc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #6ce0f7 0%,#00c1fc 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #6ce0f7 0%,#00c1fc 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #6ce0f7 0%,#00c1fc 99%); /* IE10+ */
  background: linear-gradient(to bottom,  #6ce0f7 0%,#00c1fc 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ce0f7', endColorstr='#00c1fc',GradientType=0 ); /* IE6-9 */
}

#navbar-container a:hover { /*override bootstrap a hover*/
  background: #42d9ed; /* Old browsers */
  background: -moz-linear-gradient(top,  #42d9ed 0%, #4cadf7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#42d9ed), color-stop(100%,#4cadf7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #42d9ed 0%,#4cadf7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #42d9ed 0%,#4cadf7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #42d9ed 0%,#4cadf7 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #42d9ed 0%,#4cadf7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42d9ed', endColorstr='#4cadf7',GradientType=0 ); /* IE6-9 */
}

.navbar {
  margin-bottom: 0;
}

div[back-img]{
  width: 100px;
  height: 100px;
  color: black;
  float: left;
  margin: 4px;
}